.btn-danger {
  width: 392px;
  height: 62px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  padding-right: 20px;
}

.btn-danger:hover {
  background-color: #c10000;
}

.fa-arrow-circle-right {
  // height: 38px;
  background-color: transparent;
  border: 5px solid transparent;
}

#button-to-go button {
  background-color: transparent !important ;
  border: solid 1px transparent !important ;
  font-size: 25px;
}

.fas {
  color: #484848;
}

.fas:hover {
  color: #2f2f2f;
}
