.btn-danger {
  width: 392px;
  height: 62px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  padding-right: 20px;
}

.btn-danger:hover {
  background-color: #c10000;
}

.fa-arrow-circle-right {
  // height: 38px;
  background-color: transparent;
  border: 5px solid transparent;
}

#button-to-go {
  background-color: transparent;
  border: solid 1px transparent;
  font-size: 25px;
}
