.profile-titles {
  font-weight: bold;
}

.edit_user {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

// #new_user{
//   background: white;
//   padding: 10px 20px;
//   margin-top: 50px;
//   border-radius: 3px;
//   box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
//   .btn {
//     width: 100%;
//     margin-bottom: 20px
//   }
// }

#query_end{
  border: solid 0.3px lightgray;
  border-radius: 5px;
}

#query_start{
  border: solid 0.3px lightgray;
  border-radius: 5px;
}
