.H_ib_body{
  color: #FFFFFF;
  background: #86C232 !important;
  border: 1px solid black;
  padding:0px;
}

#pop-up-text {
  font-size: 14px;
  font-weight: bold;
}

#pop-up-text h3{
  font-size: 34px;
  font-weight: bold;
}

#pop-up-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}
