.banner {
  background-image: asset-url("guilherme-stecanella-587579-unsplash.jpg");
  height: calc(75vh - 56px);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  padding: 220px 0px 145px 0px;

  position: relative;
  min-width: 414px;
  //box-shadow: 0px 40px 50px  $bg-color inset, -0px -40px 50px 0 $bg-color inset;
}

#main-landing-div{
  margin-top: 55px;
}

#address-buttons {
  background-color: bg-color;
}

#naviSafe-banner-text {
  color: #FBFBFB;
  font-size: 70px;
  text-shadow: 3px 3px 8px #484848;
  margin-bottom: 0;
}

#naviSafe-banner-text b {
  font-weight: bolder;
}

#naviSafe-banner-subtitle {
  color: #FBFBFB;
  text-shadow: 1px 1px 1px #484848;
  font-size: 35px;
  opacity: 1;
  font-weight: bolder;

}

.fab {
  border-style: solid;
  // border-radius: 40px;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-width: 2px;
  margin: 46px 26px 0px;
  padding: 18px;
  font-weight: bolder;
  font-size: 17px;
  width: 140px;
  text-align: center;
  cursor: pointer;
}

.phone-type{
  font-family: 'Open Sans';
}

.fab:hover {
  background-color: white;
  color: #484848;
}

.text {
  padding-left: 20px;
}

#cardings{
  height: 25vh;
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.icon-awesome{
  font-size: 48px;
  text-align: center;
}

.carding{
  background-color: $bg-color;
  color: #484848;
}

.carding h4 {
  text-align: center;
  margin: 10px;
}
#landing-icon {
  text-decoration: none;
  color: #484848;
}
#landing-icon:hover {
  color: #2f2f2f;
  // font-size: 50px;
}
.carding-desc {
  padding: 15px;
}

.legend-marker {
  //width: 20px;
  padding-right: 12px;
  vertical-align: middle;
  text-align: center;
  display:table-cell;
}

.legend-marker-pic {
  width: 25px;
  //height: 25px;
}

#legend-box {
  //width: 90%;
  //box-shadow: 2px 2px 1px #F1F1F1;
  margin-top: 25px;
  //border: 1px;
  //border-style: solid;
  //border-color: #F4F4F4;
}

.legend-box-row {
  display: flex;
  padding: 15px;
}

.address-report {
  padding-top: 15px;
  border: 1px;
}

#instructionsContainer h3 {
  text-align: center;
  padding-top: 10px;
}

@media only screen and (max-width: 600px) {
  .icon-awesome{
    font-size: 200%;
  }
  .banner{
    padding: 210px 0px 145px 0px;
    height: calc(83vh - 56px);
    .banner-text{
      .text h1{
        font-size: 45px;
      }
      .text h3{
        font-size: 25px;
      }
    }

    .fab{
      width: 140px;
      margin-top: 22px;
    }
  }

  #naviSafe-banner-text {
    font-size: 45px;
  }

  #naviSafe-banner-subtitle {
    font-size: 23px;
  }

  #cardings{
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin-top: 6px;
  }
  .icon-awesome{
    font-size: 36px;
    color: #484848;
  }
  .carding h4{
    font-size: 20px;
  }
  .carding-desc{
    display: none;
  }
  .arrow-down{
    display: none;
  }

  #div-cards-landing-page {
    background-color: $bg-color;
  }

  #main-landing-div{
    margin-top: 120px;
    i{
      margin-top: 20px;
    }
    #naviSafe-banner-text{
      margin-bottom: 0px;
    }

  }
  #mapContainer{
    // height: 80vh;
    padding-right: 0 !important;
  }
  #map-size-phone{
    width: 103.5%;
  }
}

