.banner {
  background-image: asset-url("guilherme-stecanella-587579-unsplash.jpg");
  height: calc(75vh - 56px);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  padding: 220px 0px 145px 0px;

  position: relative;
  min-width: 414px;
  //box-shadow: 0px 40px 50px  $bg-color inset, -0px -40px 50px 0 $bg-color inset;
}

#address-buttons {
  background-color: bg-color;
}

#naviSafe-banner-text {
  color: #FBFBFB;
  font-size: 90px;
  text-shadow: 3px 3px 8px #484848;

}

#naviSafe-banner-text b {
  font-weight: bolder;
}

#naviSafe-banner-subtitle {
  color: #FBFBFB;
  text-shadow: 1px 1px 1px #484848;
  font-size: 35px;
  opacity: 1;
  font-weight: bolder;

}

.fab {
  border-style: solid;
  // border-radius: 40px;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  // line-height: 66px;
  border-width: 2px;
  margin: 46px 26px 0px;
  padding: 18px;
  font-weight: bolder;
  font-size: 17px;
  width: 140px;
  text-align: center;
  cursor: pointer;
}

.fab:hover {
  background-color: white;
  color: #484848;
}

.text {
  padding-left: 20px;
}

#cardings{
  height: 25vh;
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
}

.icon-awesome{
  font-size: 48px;
  text-align: center;
}

.carding{
  background-color: $bg-color;
  color: #484848;
}

.carding h4{
  text-align: center;
  margin: 10px;
}
  #landing-icon{
    text-decoration: none;
    color: #484848;
  }
  #landing-icon:hover{
    color: #2f2f2f;
  }
  .carding-desc{
    padding: 15px;
  }
@media only screen and (max-width: 600px) {
  .icon-awesome{
    font-size: 200%;
  }
  .banner{
    padding: 210px 0px 145px 0px;
    height: calc(83vh - 56px);
    .banner-text{
      .text h1{
        font-size: 45px;
      }
      .text h3{
        font-size: 25px;
      }
    }

    .fab{
      width: 140px;
      margin-top: 22px;
    }
  }

  #naviSafe-banner-text {
    font-size: 45px;
  }

  #naviSafe-banner-subtitle {
    font-size: 23px;
  }

  #cardings{
    justify-content: space-between;
    align-items: center;
    height: 15vh;
  }
  .icon-awesome{
    font-size: 36px;
    color: #484848;
  }
  .carding h4{
    font-size: 20px;
  }
  .carding-desc{
    display: none;
  }
  .arrow-down{
    display: none;
  }

  #div-cards-landing-page {
    background-color: $bg-color;
  }

  #main-landing-div{
    margin-top: 150px;
    i{
      margin-top: 20px;
    }
    #naviSafe-banner-text{
      margin-bottom: 0px;
    }

  }
  #mapContainer{
    // height: 80vh;
  }
}

