.banner {
  background-image: asset-url("bg_resized.jpg");
  height: calc(70vh - 56px);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  padding: 300px 0px 145px 0px;
  position: relative;
  min-width: 414px;
}

.banner h1 {
  color: white;
  font-size: 60px;
  text-shadow: 5px 5px 10px black;
  font-weight: bolder;

}

.banner h3 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 30px;
  opacity: .8;
}

.fab {
  border-style: solid;
  // border-radius: 40px;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  // line-height: 66px;
  border-width: 2px;
  margin: 26px 26px 0px;
  padding: 18px;
  font-weight: bolder;
  font-size: 17px;
  width: 140px;
  text-align: center;
}

.fab:hover {
  background-color: white;
  color: #61892F;
}

.text {
  padding-left: 20px;
}

#cardings{
  height: 30vh;
  background-color: #222629;
}

.icon-awesome{
  font-size: 48px;
  text-align: center;
}

.carding{
  background-color: #222629;
  color: #61892F;
}

.carding h4{
  text-align: center;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .icon-awesome{
    font-size: 200%;

  }
  .banner{
    padding: 210px 0px 145px 0px;
    height: calc(80vh - 56px);
    .banner-text{
      .text h1{
        font-size: 45px;
      }
      .text h3{
        font-size: 25px;
      }
    }
    .fab{
      width: 140px;
      margin-top: 70px;
    }
  }
  #cardings{
    justify-content: space-between;
    align-items: center;
    height: 18vh;
  }
  .icon-awesome{
  font-size: 36px;
  }
  .carding h4{
    font-size: 20px;
  }
  .carding-desc{
    display: none;
  }
  .arrow-down{
    display: none;
  }
}
