.navbar-lewagon {
  justify-content: space-between;
  background: $bg-color;
  position: fixed;
  width: 100%;
  z-index: 999;
  opacity: 1;
  /* height: 74px; */
  a {
    color: $navbar-link-color-for-real !important;
    font-weight: 500;
    text-transform: uppercase;
  }

  a:hover {
    color: $navbar-link-hover-for-real !important;
  }
}

#navbarSupportedContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#if-user-signed-in {
  display: flex;
  justify-content: space-between;
}

#logo {
  max-width: 70px;
}

#div-with-logo {
  width: 20%;
  max-width: 200px;
}

// .dropdown-item {
//   text-decoration: none;
//   color: link-color;
//   background: $bg-color;
// }

.dropdown-item:hover {
  color: $navbar-link-hover-for-real;
  background: $bg-color;
}

.dropdown-menu {
  background: $bg-color;
}

#the-logout:hover {
    color: orange !important;
}

#login-button-navbar {
  background-color: $bg-color;
  border: none;
  color: $navbar-link-color-for-real !important;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  overflow-y: scroll;
}

#login-button-navbar:hover {
  color: $navbar-link-hover-for-real;
}

.modal-backdrop {
  z-index: 2;

}

#logon-form-button {
  background-color: red;
}

.nav-user-profile {
  display: flex;
  justify-content: flex-end;
}

.dropdown-menu {
  position: absolute !important;
}

.navbar-toggler-icon {
  position: fixed;
  right: 16px;
  top: 24px;
  //color: white;
}

#distress {
  //color: white !important;
  font-weight: bolder !important;
  background-color: #FF0000;
  padding: 10px;
  border-radius: 50%;
  width: 60px;
  height: 85%;
  font-size: 30px;
}

#distress-image {
  width: 40px;
}


#distress:hover {
  background-color: #DD0000;
}

#navbarDropdown {
  cursor: pointer;
}

// #the-panic-button {
//   background-color: #FF0000;
//   padding: 10px;
//   border-radius: 8px;
// }

// #the-panic-button:hover {
//   background-color: #DD1111;
//   padding: 10px;
//   border-radius: 8px;

// }

// link-panic-button
