.address-report {
  display: flex;
  // margin-top: 10px;
  padding-top: 6px;
  justify-content: space-between;
  padding-left: 16px;
}

#e {
  margin-left: 7px;
}

#cm-popup {
  display:none;
  box-shadow: 0 0 10px #888888;
  position:fixed;
  left:50%;
  transform:translateX(-50%);
  width:50%;
  height:200px;
}

 .cm-btn {
  border:none;
  background:#405080;
  color:white;
  border-radius:2px;
}

.algolia-places {
  padding-top: 8px;
}

.address-report {
  // max-height: 40px;
}

#safe-fast-toggle {
  margin-right: 14px;
  padding-top: 6px;
  color: #484848;
}

#query_start, #query_end {
  border: 0px;
  //background-color: blue;
}

.address-report {
  border: 3px;
  //background-color: red;
}

