// @media screen and (max-width: 480px) {
//     #mapContainer {
//          width: 400px;
//     }
// }
.form-control {
  padding-top: 0.01rem;
  padding-bottom: 0.01rem;
  padding-right: 0.51rem;
  padding-left: 0.51rem;

}

.ap-input{
  //width: 93%;
}
.ap-input-icon svg{
  right: -14px;
  fill: transparent;
}
