<div class="pop-up">
  <p id="pop-up-title"> <%= report.report_type %></p> <br>
  <h3 id="pop-up-text"><%= report.description %> <br>
  <%= report.occurence_timedate.strftime('%Y-%m-%d Reported at: %H:%M') %></h3>
</div>
