<div id="legend-box">
  <div class="legend-box-row">
    <div class="legend-marker"><%= image_tag "feeling.png", class: 'legend-marker-pic' %></div>
    <div>Know the surroundings others felt uncomfortable or threatened in so you can make adjustments to your walk.</div>
  </div>
  <div class="legend-box-row">
    <div class="legend-marker"><%= image_tag "verbal.png", class: 'legend-marker-pic' %></div>
    <div>Understand when and where verbal harassment most often happens</div>
  </div>
  <div class="legend-box-row">
    <div class="legend-marker"><%= image_tag "physical.png", class: 'legend-marker-pic' %></div>
    <div>Be aware of predators who repeat these offences in the places they frequent</div>
  </div>
</div>
